.goods_result h4.good_results_title{
	cursor:pointer;
	background:#D9EDF7;
	padding:5px 3px;
	
}
.date_goods{
	margin-right:30px
}
.before { border-color: red; }

.icon-cogwheel {
  background-position: 0  0;
  display: inline-block;
  height: 16px;
  width:16px;
  background-image: url("../img/cogwheel.png");
}
.icon-pdf {
  background-position: 0  0;
  display: inline-block;
  height: 16px;
  width:16px;
  background-image: url("../img/file_pdf.png");
}
table.address td.address_label{
	width:150px;
	vertical-align:top;
}
.bs-docs-sidenav > li > a {
    background: #FFFFFF;
}
.datepicker{
	z-index:2000;
}
.inner_span3{width:250px;margin-right:10px;display:block;}
div.inner_span3  ul.bs-docs-sidenav {width: 240px;}
.top_search{padding-left: 220px;}
.title{margin:auto auto 30px auto;}
.title .h3{font-size:18px;font-weight:bold;}
.history_item{margin :10px auto;}
.fitted{width:auto}
.breathe-left{margin-left:10px}
table.latest_dossier{width : 100%}
table.latest_dossier td.date{width:30%}
table.latest_dossier td.number{width:20%}
table.latest_dossier td.party{width:50%}
div.latest_dossier:hover{background:#F9F9F9;cursor:pointer;}
div.latest_dossier p{margin:5px auto;}
.form-horizontal .big-control-label {
  float: left;
  width: 240px;
  padding-top: 5px;
  text-align: left;
margin-left:20px;
}
.well.party{background:#FCFCFC}

/* Body and structure
-------------------------------------------------- */

body {
  position: relative;
  padding-top: 100px;
}

/* Code in headings */
h3 code {
  font-size: 14px;
  font-weight: normal;
}



/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */

body > .navbar {
  font-size: 13px;
}

/* Change the docs' brand */
body > .navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
body > .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}


/* Sections
-------------------------------------------------- */

/* padding for in-page bookmarks and fixed navbar */
section {
  padding-top: 30px;
}
section > .page-header,
section > .lead {
  color: #5a5a5a;
}
section > ul li {
  margin-bottom: 5px;
}

/* Separators (hr) */
.bs-docs-separator {
  margin: 40px 0 39px;
}

/* Faded out hr */
hr.soften {
  height: 1px;
  margin: 70px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

/* Footer
-------------------------------------------------- */

footer {
	clear:both;
  padding: 70px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
footer p {
  margin-bottom: 0;
  color: #777;
}
footer-links {
  margin: 10px 0;
}
footer-links li {
  display: inline;
  margin-right: 10px;
}

/* Sidenav for Docs
-------------------------------------------------- */

.bs-docs-sidenav {
  width: 220px;
  margin: 0px 0 0;
  padding: 0;
}

.bs-docs-sidenav-custom {
  width: 228px;
  margin: 0 0;
}

.bs-docs-sidenav-right {
  width: 228px;
  margin: 0px 0 0;
  padding: 0;
}

.bs-docs-sidenav > li > a {
  display: block;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

.modal_span2{
	width:200px;
	margin-left:0px;
}
.modal_span_half{
	width:445px;
	margin-left:10px;
}
.modal_span_half label{
	width:150px;
	float:left;
}	
.modal_span_half p{
	display:block;
	clear:both;
}
.modal_full{
	display:block;
	clear:both;
	width:890px;	
}
.modal_span2 hr{
	margin:5px 0;
}
.modal_span2 form{
	margin:0px;
}

.modal_span7{
	width:700px;
	margin-left:10px;
}
.modal_parties h3{
	margin:0px auto;
}
.modal_parties{
    width: 960px;
    margin-left: -480px; /* - width/2 */
}
input.modal_span2, textarea.modal_span2, .uneditable-input.modal_span2{
  width: 156px;
}
input.day, input.month{width:25px; margin-left:5px}
input.day, input.year{width:35px; margin-left:5px}

body,html{
 height:100%;
}
.container{
 min-height:100%;
}
footer{
 height:40px;
 margin-top:-40px;
}
.table.no-border td{
	border:none;
}
.disable_link {
    color : grey;
    text-decoration : none;
    cursor : default
}
.disable_link:hover {
    color : grey;
    text-decoration : none;
    cursor : default
}