@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/glyphicons-halflings-white.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/glyphicons-halflings.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>
    </head>
    <body>
    <div class="container">
      @navigation()
            <div id="home_panel">
                <!--Jumbotron tab Heigth -->
                <div >
                    <div class="row">
                      <div class="span8 offset4">
                      @if(flash.containsKey("success")){
                    <div class="alert alert-success">
                    @flash.get("success")
                    </div>
                    }
                    @if(flash.containsKey("error")){
                    <div class="alert alert-error">
                    @flash.get("error")
                    </div>
                }
                      @content
                      </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="footer">
                <p>&copy; Company 2013</p>
            </div>

        </div> <!-- /container -->

      </body>
</html>
