<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!-- 	<include resource="logback-common-logger.xml" /> -->
	<!-- STANDARD OUTPUT LOG -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
	    	<!-- In this pattern, if the userLoginData is empty, we display the String 'ANONYMOUS'using the regex into the %replace -->
	    	<file>kbo.log</file>
			<pattern>eDepot - %d{dd/MM/yyyy; HH:mm:ss.SSS} %-5level %logger - %msg%n %ex{full}</pattern>
		</encoder>
	</appender>
	<logger name="org.springframework.ws">
		<level value="ALL" />
	</logger>
	<!-- Spring Webservice XML -->
   <logger name="org.springframework">
    <level value="TRACE"/> 
   </logger>
   <logger name="org.springframework.ws.server.MessageTracing">
    <level value="TRACE"/> 
   </logger>

	<root level="DEBUG">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
