/* 
    Document   : style
    Created on : Aug 9, 2013, 7:46:24 PM
    Author     : chuck
    Description:
        Purpose of the stylesheet follows.
*/

/*Large screen styles first - Avoid*/
.product-img {
  width: 50%;
  float: left;
}
@media screen and (max-width: 40.5em) {
  .product-img {
    width: auto;
    float: none;
  }
}
/*Default styles*/
.related-products li {
  float: left;
  width: 50%;
}

/*Display 3 per row for medium displays (like mobile phones in landscape or smaller tablets)*/
@media screen and (min-width: 28.75em) {
  .related-products li {
    width: 33.3333333%;
  }
}
/*Display 6 to a row for large displays (like medium tablets and up) */
@media screen and (min-width: 40.5em) {
  .related-products li {
    width: 16.6666667%;
  }
}

/*Using CSS gradients instead of background images*/
header[role="banner"] {
  position: relative;
  background: #111; 
  background: +linear-gradient (top, #111 0%, #222 100%);
}

header {
    text-align: center;
    /*background: #111;*/ 
    background: linear-gradient( to left, red 15%, grey 50%, blue 100%);
    padding: 0.5em 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

footer {
    text-align: center;
    /*background: #111;*/ 
    background: linear-gradient( to left, red 15%, grey 50%, blue 100%);
    padding: 0.5em 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}


