<!--presentation-->
            <section id="presentation">
                <nav class="block">
                    <ul class="right-menu-list">
                        <li class="active menu-item"><i class="fa fa-external-link fa-lg"></i><span class="menu-label">Link</span></li>
                        <li class="menu-item"><i class="fa fa-home fa-lg"></i><span class="menu-label">Link</span></li>
                        <li class="menu-item"><i class="fa fa-book fa-lg"></i><span class="menu-label">Link</span></li>
                        <li class="menu-item"><i class="fa fa-pencil fa-lg"></i><span class="menu-label">Link</span></li>
                        <li class="menu-item"><i class="fa fa-cogs fa-lg"></i><span class="menu-label">Link</span></li>
                        <li class="menu-item"><i class="fa fa-camera fa-lg"></i><span class="menu-label">Link</span></li>
                        <li class="menu-item"><i class="fa fa-pencil-square-o fa-lg"></i><span class="menu-label">Link</span></li>
                        <li class="menu-item"><i class="fa fa-desktop fa-lg"></i><span class="menu-label">Link</span></li>
                        <li class="menu-item"><i class="fa fa-reply fa-lg"></i><span class="menu-label">Link</span></li>
                    </ul>
                </nav>
                <article class="block">
                    <h1>Article title</h1>
                    <header>Header article</header>
                    <p>Lorem i
                        psum dolor sit amet, consectetur adipiscing elit. Quisque aliquam eu eros id iaculis. Cras euismod condimentum felis, sagittis sollicitudin odio dictum sit amet. Aliquam molestie sagittis bibendum. Quisque iaculis et nisi a sodales. Etiam eleifend sodales nunc, non suscipit turpis vestibulum suscipit. Maecenas condimentum, risus a consequat semper, tellus nunc pretium felis, eu congue mauris neque et ligula. In cursus volutpat ligula quis blandit. Morbi rhoncus diam turpis, ac convallis nunc consectetur quis. Aenean porta purus a nulla aliquam mollis. Nulla justo felis, sodales et nulla at, hendrerit varius ligula. Quisque hendrerit ipsum et tortor cursus vulputate. Etiam euismod, orci a euismod feugiat, tellus neque accumsan metus, sit amet cursus odio massa a ligula.
                        Nunc enim ligula, euismod quis vehicula eget, pellentesque id erat. Maecenas at dolor elementum magna elementum consectetur. Sed malesuada nibh lacinia ligula pulvinar, quis pulvinar est blandit. Etiam eros tellus, gravida eleifend fringilla quis, tempor sit amet urna. Praesent auctor suscipit ligula non dapibus. Donec mattis quam sed risus dictum tempor. Phasellus sagittis, ipsum sed auctor convallis, nunc arcu placerat quam, et venenatis massa ante vel est. Aliquam at urna tincidunt, tempor augue at, vestibulum sem. Phasellus lectus enim, lacinia ut ultricies eu, tristique ut mi.
                    </p>
                    <h1>Article title</h1>
                    <header>Header article</header>
                    <p>
                        Vivamus vitae dapibus nunc. Duis posuere nunc urna, vel hendrerit nisi ornare vel. Maecenas tortor purus, facilisis eget mi ut, scelerisque laoreet urna. In egestas ultricies nulla ac tempus. Sed et semper tortor, venenatis pellentesque metus. In hac habitasse platea dictumst. Vestibulum porttitor purus lorem, sit amet pharetra sapien vehicula ac. Vestibulum tempus nisl dictum arcu egestas luctus. Praesent nec est scelerisque, adipiscing velit nec, gravida metus.
                        Nullam in tellus sit amet odio molestie pharetra. Vivamus quis aliquam ante, sed porta libero. Nam faucibus feugiat faucibus. Nullam at semper augue. Praesent aliquet sit amet est vitae euismod. Praesent turpis orci, vulputate at pulvinar vel, gravida vehicula tellus. Morbi sed aliquet nisi, in scelerisque ipsum. In in pretium elit. Maecenas id lorem pretium, fermentum mi a, semper 
                    </p>
                </article>
                <section class="block right-top-block">
                    <article class="details">
                        <span class="profil-details">Mine Nicolas</span>
                        <span class="profil-details"><img src="img/profil.jpg" style="width: 100px;"/></span>
                        <span class="profil-details"><i class="fa fa-dot-circle-o"></i>Java Developer</span>
                        <span class="profil-details"><i class="fa fa-cloud"></i><a href="http://nicolas-mine.blogspot.be">Personnal Blog</a></span>
                        <span class="profil-details"><i class="fa fa-phone"></i>0472 53 70 24</span>
                        <span class="profil-details"><i class="fa fa-envelope-o"></i><a href="mailto:nicolas.mine11@gmail.com"> My mail</a></span>
                    </article>
                </section>
                <article class="block right-bottom-block">
                    Nullam in tellus sit amet odio molestie pharetra. Vivamus quis aliquam ante, sed porta libero. Nam faucibus feugiat faucibus. Nullam at semper augue. 
                </article>
                <article class="block bottom-block">
                    Suspendisse iaculis consequat ligula, sit amet pellentesque mauris pellentesque id. Vivamus id velit at massa vehicula blandit. Curabitur ut faucibus tortor. Quisque varius lorem nec orci consectetur aliquet eget ut elit. Phasellus velit massa, imperdiet eu metus quis, dictum rutrum risus. Nulla facilisi. Fusce varius sit amet elit et malesuada. Sed vel dignissim risus.
                </article>
            </section>
            <!--end presentation-->