 <!--contact-->
            <section id="contact">
                <section class="block article-block-left">
                    <article>
                        <div class="cart-grid-left">
                            <img src="img/employee.png" style="width: 190px;"/> 
                        </div>
                        <div class="cart-grid-rigth">
                            <h3>Profile</h3>
                            <p class="profile-cart">Nullam in tellus sit amet odio molestie pharetra. Vivamus quis aliquam ante, sed porta libero. Nam faucibus feugiat faucibus.</p>
                            <p class="details-cart" ><span class="cart-button">Name</span> John Doe</p>
                            <p class="details-cart" ><span class="cart-button">Job</span> Developer</p>
                            <p class="details-cart" ><span class="cart-button">Phone</span> +00 231 293-1475</p>
                            <p class="details-cart"><span class="cart-button">Email</span><a href="mailto:info@johndoe.com"> info@johndoe.com</a></p>
                        </div>
                    </article>
                </section>
                <section class="block article-block-left">
                    <article>
                        <div class="cart-grid-left">
                            <img src="img/employee2.png"  style="width: 190px;"/>
                        </div>
                        <div class="cart-grid-rigth">
                            <h3>Profile</h3>
                            <p class="profile-cart">Nullam in tellus sit amet odio molestie pharetra. Vivamus quis aliquam ante, sed porta libero. Nam faucibus feugiat faucibus.</p>
                            <p class="details-cart"><span class="cart-button">Name</span> Cyrus Smith</p>
                            <p class="details-cart"><span class="cart-button">Job</span> Developer</p>
                            <p class="details-cart"><span class="cart-button">Phone</span> +00 231 293-1475</p>
                            <p class="details-cart"><span class="cart-button">Email</span><a href="mailto:info@misteriousisland.com">info@misteriousisland.com</a></p>
                        </div>
                    </article>
                </section>
                <section class="block article-block-left">
                    <article>
                        
                        <div class="cart-grid-left">
                            <img src="img/employee3.png"  style="width: 190px;"/>
                        </div>
                        <div class="cart-grid-rigth">
                            <h3>Profile</h3>
                            <p class="profile-cart">Nullam in tellus sit amet odio molestie pharetra. Vivamus quis aliquam ante, sed porta libero. Nam faucibus feugiat faucibus.</p>
                            <p class="details-cart"><span class="cart-button">Name</span> Jane Doe</p>
                            <p class="details-cart"><span class="cart-button">Job</span> Developer</p>
                            <p class="details-cart"><span class="cart-button">Phone</span> +00 231 293-1475</p>
                            <p class="details-cart"><span class="cart-button">Email</span><a href="mailto:info@janDoe.com">info@janDoe.com</a></p>
                        </div>
                    </article>
                </section>
                <section class="block article-block-left">
                    <article>
                        <div class="cart-grid-left">
                            <img src="img/employee4.png"  style="width: 190px;"/>
                        </div>
                        <div class="cart-grid-rigth">
                            <h3>Profile</h3>
                            <p class="profile-cart">Nullam in tellus sit amet odio molestie pharetra. Vivamus quis aliquam ante, sed porta libero. Nam faucibus feugiat faucibus.</p>
                            <p class="details-cart"><span class="cart-button">Name</span> Terry Pratchett</p>
                            <p class="details-cart"><span class="cart-button">Job</span> Developer</p>
                            <p class="details-cart"><span class="cart-button">Phone</span> +00 231 293-1475</p>
							<p class="details-cart"><span class="cart-button">Email</span><a href="mailto:info@janDoe.com">info@janDoe.com</a></p>
                        </div>
                    </article>
                </section>
            </section>
            <!--contact-->